@font-face {
  font-family: "Roboto";
  src: url("./font-style/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("./font-style/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./font-style/Shrikhand-Regular.otf") format("opentype");
}
#btn-explore input {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 50px;
  height: 40px;
  box-shadow: 0px 3px 5px 1px #d3d3d3;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  cursor: pointer;
}
#btn-explore input:hover {
  filter: brightness(1.1);
  box-shadow: 5px 5px 5px 3px #bababa;
  transition: all 300ms;
  animation-fill-mode: both;
}

#logo {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}
#logo img {
  width: 175px;
}

#localize {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 1px 2px 5px 1px #d3d3d3;
}
#localize i {
  padding-right: 20px;
}
#localize p {
  position: relative;
  right: 10px;
}

#reserve {
  width: 100%;
  height: 300px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#reserve h1 {
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Roboto-bold", serif;
  font-size: 170%;
}
#reserve p {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

#wrapper {
  width: 100%;
  font-family: "Roboto", serif;
}

#fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
  height: 350px;
  font-family: "Roboto-bold", serif;
}
#fonctionnement h2 {
  font-size: 140%;
  margin-bottom: 30px;
}
#fonctionnement ol {
  padding-left: 20px;
}
#fonctionnement ol li {
  height: 60px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 1px #d3d3d3;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
#fonctionnement ol li i {
  color: #828282;
  width: 15%;
  padding-left: 30px;
  font-size: 115%;
}
#fonctionnement ol li:hover {
  background-color: #f5edff;
  border-color: #f5edff;
}
#fonctionnement ol li:hover i {
  color: #9356DC;
}
#fonctionnement ol li span {
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75%;
  position: relative;
  right: 10px;
}

#restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  height: 1430px;
}
#restaurants h2 {
  padding-left: 20px;
  font-family: "Roboto-bold", serif;
  font-size: 140%;
}
#restaurants a {
  text-decoration: none;
  color: black;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
#restaurants a .card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  border: 0px solid white;
  background-color: white;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 1px 5px 8px 1px #d3d3d3;
}
#restaurants a .card img {
  height: 75%;
  object-fit: cover;
}
#restaurants a .card:hover {
  box-shadow: 3px 8px 8px 3px #bababa;
  transition: box-shadow 500ms;
}
#restaurants a .card .card_desc {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
#restaurants a .card .card_desc h3 {
  margin-bottom: 5px;
}
#restaurants a .card .card_desc h4 {
  font-weight: normal;
  margin-top: 0px;
}
#restaurants a .card .card_desc .card_fav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
#restaurants a .card .card_desc .card_fav i {
  font-size: 150%;
}
#restaurants a .card .card_desc .card_fav i:hover::before {
  transition: all ease-in-out 800ms;
  background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
#restaurants a .card .card_desc .card_texte {
  width: 90%;
}
#restaurants a .card .card_new {
  position: relative;
  bottom: 290px;
  left: 125px;
  display: flex;
  justify-content: center;
  height: 0px;
}
#restaurants a .card .card_new span {
  color: #278870;
  border: 1px solid #99E2D0;
  border-radius: 3px;
  background-color: #99E2D0;
  height: 30px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  font-family: "Roboto-bold", serif;
}

footer {
  background-color: #353535;
  height: 175px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}
footer h4 {
  font-family: "Shrikhand", serif;
  color: white;
  font-weight: normal;
  padding-left: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  margin-bottom: 5px;
}
footer a i {
  font-size: 80%;
  width: 25px;
}
footer a .fa-handshake-angle {
  font-size: 65%;
}
footer p {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
